.profileHeader{
	display: flex;
	gap: 50px;
}

.profileHeaderInfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar{
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.refCodeContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.refCode{
    position: relative;
	cursor: pointer;
    color: #0d6efd;
}

.refCode:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 1px; /*задаём ширину линии*/
	background-color: #0d6efd; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.refCode:hover:after,
.refCode:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}