.errorText {
	font-size: 70px;
	font-weight: bold;
	background-color: #b9b9b9;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

